.header__logo {
    width: 142px;
    height: 33px;
    margin: 0;
    
}

@media screen and (max-width:) {
    .header__logo {
        width: 104px;
        height: 25px;
        padding-left: 27px;
    }
}
