.profile__add-button {
    width: 150px;
    height: 50px;
    border: 2px solid#FFFFFF;
    background: url(../../../images/plus.png) no-repeat center;
    display: flex;
    padding: 75 auto auto auto;
    transition:  0.3s ease-in-out;

}

.profile__add-button:hover {
    opacity: 0.6;
}