.elements {
    width: 100%;
    max-width: 880px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 17px;
    grid-row-gap: 15px;
    padding-top: 50px;
}

@media screen and (max-width:400px) {
    .elements {
      padding-top: 34px;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
}