.footer__copyright {
    color: #545454;
    font-size: 18px;
    font-weight: normal;
    line-height: 21.78px;
    width: 318px;
    height: 18px;
}

@media screen and (max-width:400px) {
    .footer__copyright {
      font-size: 14px;
    }
  }