.element {
    height: 361px;
    width: 282px;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
     overflow: hidden;
}

.element:last-child {
    margin-bottom: 0px;
    }

