.element {
   
    height: 361px;
    width: 282px;
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
        white-space: nowrap;
}

.element :last-child {
    margin-bottom: 0px;
    }

    /*здесь вот че делать чтобы было не Черкессия а Ч.....???*/